.flight-table__header {
  padding: 25px 35px;
  border-bottom: 1px solid $grey-hr;
  overflow: hidden;
  display: flex;
  background-color: $white;

  .btn-close {
    margin: -25px -35px;
    float: right;
  }
}

.table__header__item {
  @include font-size(1.2, 2.5);
  flex-grow: 1;
  float: left;
  font-family: $futura-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $grey;

  &:after {
    @include svg-bg(sprite, $background-position: -45px -103px);
    width: 10px;
    height: 10px;
    display: inline-block;
    content: '';
    margin: 0 0 0 10px;
  }

  &--left-side {
    flex-grow: 4;
  }
}
