.filter__button {
  @include animate-object();
  background-color: $white;
  outline: 0;
  display: block;
  padding: 17px 15px 20px;
  text-align: left;
  border-bottom: 1px solid $light-hr;
  width: 100%;

  &:hover {
    background-color: darken($white, 3%);
  }

  h4 {
    @include font-size($filter-text, 1);
    margin: 0;
    color: $purple;
  }
}

// Popupo from filter button
.filter__button__popup {
  position: absolute;
  left: -360px;
  width: 360px;
  top: 0;
  bottom: 0;
  background: $white;
  border-right: 1px solid $light-hr;
  padding: 50px;
  text-align: center;
}
