// Our grid variables
$column: golden-ratio(20px, 3);
$gutter: golden-ratio(20px, 1);
$max-width: 1180px;

// Base font-size and line-height
$base-font-size: 18px;
$base-line-height: 1.45;

// Visual grid that can be used if neat helpers is activated
// $visual-grid : true;
// $visual-grid-color: #e0eef7;

$base-color: #2e2b2f;
$base-hr: #dbdbdb;
$light-hr: #dce2e4;

$primary: #a82af0;

// Fonts
$futura-medium:'Futura LT W01 Medium';
$futura-medium-ob:'Futura LT W01 Medium Oblique';
$futura-bold:'Futura LT W01 Bold';
$futura-bold-ob:'Futura LT W01 Bold Oblique';
$bodoni:'Bodoni W01 Book_709611';
$bodoni-italic:'Bodoni W01 Book Italic';
$bodoni-bold:'Bodoni W01 Bold_709602';
$bodoni-bold-italic:'Bodoni W01 Bold Italic_709608';
