.filter__button {
  @include animate-object();
  background-color: $white;
  outline: 0;
  display: block;
  padding: 17px 15px 20px;
  text-align: left;
  border-bottom: 1px solid $light-hr;
  width: 100%;

  &:hover {
    background-color: darken($white, 3%);
  }

  h4 {
    @include font-size($filter-text, 1);
    margin: 0;
    color: $purple;
  }
}
