// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Remove standard border on button & input on smart devices
button,
[type=submit] {
  border: 0;
}
