html {font-size: $base-font-size;}

body {
  font-weight: 400;
  line-height: $base-line-height;
  color: $base-color;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 .5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small {font-size: .707em;}

p {

}

em,
i {

}

strong,
b {

}

u {

}

ul {

  li {

  }
}

ol {

  li {

  }
}
