html {font-size: $base-font-size;}

body {
  font-weight: 400;
  line-height: $base-line-height;
  color: $base-color;
  font-family: $bodoni;
}


p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: $futura-bold;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small {
  font-size: .707em;
}

hr {
  border: 0;
  height: 1px;
  background-color: $base-hr;
  margin: 35px 0 25px;
}

em,
i {

}

strong,
b {

}

u {

}

ul {

  li {

  }
}

ol {

  li {

  }
}
